<div class="banner">
    <div></div>
    <div class="text-on-banner">
        <p>Summer Side For All Sqim Suits And Free Express Delivery - OFF 50%! <a href="#">ShopNow</a></p>
    </div>
    <div class="language-on-banner">
        <p>
            English
            <i class='bx bx-chevron-down'></i>
        </p>
    </div>
</div>