<div class="footer">
    <div class="footer-section-container">
        <div class="footer-section">
            <ul>
                <li>
                    <h3>Exclusive</h3>
                </li>
                <li>
                    <p>Subscribe</p>
                </li>
                <li>
                    <p>Get 10% off your first order</p>
                </li>
            </ul>
        </div>
        <div class="footer-section">
            <ul>
                <li>
                    <h3>Suppert</h3>
                </li>
                <li>Address Lorem ipsum dolor</li>
                <li>noting@gmail.com</li>
                <li>+000000000000</li>
            </ul>
        </div>
        <div class="footer-section">
            <ul>
                <li>
                    <h3>Account</h3>
                </li>
                <li>
                    <p>My Account</p>
                </li>
                <li>
                    <p>Login / Register</p>
                </li>
                <li>
                    <p>cart</p>
                </li>
                <li>
                    <p>Wishlist</p>
                </li>
                <li>
                    <p>Shop</p>
                </li>
            </ul>
        </div>
        <div class="footer-section">
            <ul>
                <li>
                    <h3>Quick Link</h3>
                </li>
                <li>
                    <p>Privacy Policy</p>
                </li>
                <li>
                    <p>Terms of Use</p>
                </li>
                <li>
                    <p>FAQ</p>
                </li>
                <li>
                    <p>Contact</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <p>&copy; Copyright 2024 All right reserved</p>
    </div>
</div>