<div class="navbar">
    <div class="nav-heading">
        <h2>E-Commerce Store</h2>
    </div>
    <div class="nav-icons">
        <i class='bx bx-x cross'></i>
        <ul class="nav-icons-ul">
            <li class="nav-icons-li "><a href="/home">Home</a></li>
            <li class="nav-icons-li"><a href="/contact">Contact</a></li>
            <li class="nav-icons-li"><a href="/about">About</a></li>
            <li class="nav-icons-li"><a href="/signup">Sign Up</a></li>
            <li class="nav-icons-li cart-profile"><a href="/cart">Cart</a></li>
            <li class="nav-icons-li cart-profile"><a href="/profile">Profile</a></li>
        </ul>
    </div>
    <div class="nav-search">
        <div>
            <input type="search" name="navsearch" id="navsearch" placeholder="What are you looking for?">
            <i class='bx bx-search-alt-2 magnifier'></i>
        </div>
        <div class="cart-user-container">
            <div><a href="/cart"><i class='bx bx-cart'></i></a></div>
            <div class="counter">
                <%= data.length %>
            </div>
            <div><a href="/login"><i class='bx bx-user'></i></a></i></div>
        </div>
    </div>
    <div class="nav-active-icons">
        <i class='bx bx-menu menu'></i>
    </div>
</div>