<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/all.css">
    <title>E-commerce Website-ORRIN</title>
</head>

<body>
    <div class="container">
        <!-- Banner -->
        <%- include('partials/banner') %>

            <!-- Navbar -->
            <%-include('partials/navbar') %>

                <!-- main section -->
                <div class="home-main">

                    <!-- home cards start-->
                    <!-- <div class="home-cards">
                <div class="home-img-container"><img src=""></div>
                <div class="home-product-name"><b>Product Name</b></div>
                <div>300INR</div>
                <button class="add-to-cart-btn">
                    Add to cart
                </button>
            </div> -->

                    <!-- home cards end -->

                </div>
                <!-- main section end -->

                <!-- footer section -->
                <%- include('partials/footer') %>
    </div>

    <script src="../js/script.js"></script>
</body>

</html>