<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/all.css">
    <title>E-commerce Website-ORRIN</title>
</head>

<body>
    <div class="container">
        <!-- Banner -->
        <%- include('partials/banner') %>

            <!-- Navbar -->
            <div class="navbar">
                <div class="nav-heading">
                    <h2>E-Commerce Store</h2>
                </div>
                <div class="nav-icons">
                    <i class='bx bx-x cross'></i>
                    <ul class="nav-icons-ul">
                        <li class="nav-icons-li "><a href="/home">Home</a></li>
                        <li class="nav-icons-li"><a href="/contact">Contact</a></li>
                        <li class="nav-icons-li"><a href="/about">About</a></li>
                        <li class="nav-icons-li"><a href="/signup">Sign Up</a></li>
                        <li class="nav-icons-li cart-profile"><a href="/cart">Cart</a></li>
                        <li class="nav-icons-li cart-profile"><a href="/profile">Profile</a></li>
                    </ul>
                </div>
                <div class="nav-search">
                    <div>
                        <input type="search" name="navsearch" id="navsearch" placeholder="What are you looking for?">
                        <i class='bx bx-search-alt-2 magnifier'></i>
                    </div>
                    <div class="cart-user-container">
                        <div><a href="/cart"><i class='bx bx-cart'></i></a></div>
                        <div><a href="/login"><i class='bx bx-user'></i></a></i></div>
                    </div>
                </div>
                <div class="nav-active-icons">
                    <i class='bx bx-menu menu'></i>
                </div>
            </div>
            <!-- Main Section -->
            <div class="main">
                <form class="form-container">
                    <!-- Form Content -->
                    <div>
                        <h3>Log in to Account</h3>
                        <p>Enter your details below</p>
                    </div>
                    <div><input type="text" name="emailphone" id="emailphone" placeholder="Email or Phone number">
                    </div>
                    <div><input type="password" name="password" id="password" placeholder="Password"></div>
                    <div class="btn btn1 btn1login ">
                        <button>Login</button>
                        <p class="fixforget">Forget Password ?</p>
                    </div>
                    <div>
                        <p>Don't have account? <a href="/signup" id="signup">Sign up</a></p>
                    </div>
                </form>
            </div>

            <!-- footer section -->
            <%- include('partials/footer') %>
    </div>

    <script src="../js/script.js"></script>
</body>

</html>